@import "../../scss/variables/colors";
@import "../../scss//variables/mixins";

.card {
  display: flex;
  flex-direction: column;

  &__link {
    @include align-center;
    margin: 20px;
    color: $blue;
    text-decoration: none;

    &:hover {
      color: $dark-blue;
      font-weight: 500;
    }

    &-arrow {
      margin-right: 5px;
    }
  }

  &__wrapper {
    @include justify-center;
    margin: 0 20px;
  }
}
